
/*<!-- font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; -->*/

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


.intro{
  -moz-background-size: cover;
  -webkit-background-size: cover;
	background: #151515 url(../images/intro-bg.jpg) no-repeat center bottom;
	background-attachment: fixed;
	background-size: cover;
	display: table;
	height: 100%;
	min-height: 720px;
	position: relative;
	width: 100%;
  text-align: center;
}

.intro-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111111;
	opacity: .7;
}


.intro-box{
  position: relative;
  top: 20%;
  bottom: 50%;
}

.intro-text{
  font-weight: 900;
  color: white;
  text-align: center;
  font-family: 'Montserrat-bold', sans-serif;
}
/*<!-- font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; -->*/
.int1{
  color: #cc005f;
	font-family: "poppins-bold", sans-serif;
	font-size: 2rem;
  font-weight: 600;
	line-height: 1.565;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.int2{
  font-weight: 600;
  color: #FFFFFF;
	font-family: "poppins-medium", sans-serif;
	font-size: 6rem;
	line-height: 1.071;
	max-width: 120%;
	margin-top: 0;
	margin-bottom: .6rem;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.int3{
  color: #cc005f;
	font-family: "poppins-bold", sans-serif;
	font-size: 2.3rem;
	line-height: 1.565;
	margin-bottom: 0;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

   /* Social Buttons BOX */

/* .social{
  align-items: flex-end;
	display: block;
	font-size: 3.3rem;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 90%;
	width: 100%;
} */
.social .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 10rem;
  font-size: 1.5rem;

}




.social{
  align-items: center!important;
	display: block;
	font-size: 5.3rem;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
  padding-top: 2rem;
}

/* Responsive INTRO */
/**
 * responsive:
 * Intro
 * ---------------------------------------------------------------
 */
@media only screen and (max-width:1024px) {
	.intro-text h1 {
		font-size: 6rem;
    white-space: normal;
	}
	.social {
		font-size: 3rem;
	}
	.social li {
		margin: 0 15px;
	}
}
@media only screen and (max-width:768px) {
	.intro {
		min-height: 740px;
	}
	.intro-text h1 {
		font-size: 5.2rem;
	}
	.intro-text h4 {
		font-size: 1.8rem;
	}
	.intro-text .int3 {
		font-size: 1.3rem;
	}
	.social {
		font-size: 2.5rem;
	}
	.social li {
		margin: 0 10px;
	}
}
@media only screen and (max-width:600px) {
	.intro {
		min-height: 650px;
	}
	.intro-text h1 {
		font-size: 3.6rem;
		margin-bottom: .6rem;
    white-space: normal;
	}
	.intro-text h4 {
		font-size: 1.5rem;
		margin-bottom: .3rem;
		letter-spacing: .2rem;
	}
	.intro-text .int3 {
		font-size: 1.2rem;
	}
	.intro-text .int3 span {
		padding: 0 .6rem;
	}
	.intro-text .int3 span::before, .intro-text .int3 span::after {
		display: none !important;
	}
	.social {
		font-size: 2.4rem;
	}

  .social .btn {
		font-size: 1.4rem;
	}
}

@media only screen and (max-width:400px) {

  .intro-text h1 {
		font-size: 2.6rem;
		margin-bottom: .6rem;
    white-space: normal;
	}

  .social{
    font-size: 3rem;
  }

  .social .btn {
		font-size: 1.4rem;
    height: 3rem;
    width: 4rem;
	}



}


/* Responsive intro end */
